pipeline/PL_DATA_INC_MSQL_db_TO_ASQL_db.json
{
	"name": "PL_DATA_INC_MSQL_db_TO_ASQL_db",
	"properties": {
		"activities": [
			{
				"name": "LookupOldWatermarkActivity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_MSQL_watermarktable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LookupNewWatermarkActivity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select max(TransactionDt) as NewWatermarkvalue from dbo.Tickets;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_MSQL_Tickets",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "IncrementalCopyActivity",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupOldWatermarkActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LookupNewWatermarkActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select * from dbo.Tickets where TransactionDt >= '@{activity('LookupOldWatermarkActivity').output.firstRow.Watermarkvalue}' and TransactionDt <= '@{activity('LookupNewWatermarkActivity').output.firstRow.NewWatermarkvalue}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "truncate table stg.cinema_tickets",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CinemaCode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "cinema_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CinemaName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "cinema_name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MovieId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "movie_id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "TicketCount",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ticket_count",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "TicketPrice",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 1,
									"precision": 4
								},
								"sink": {
									"name": "ticket_price",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 1,
									"precision": 4
								}
							},
							{
								"source": {
									"name": "TransactionId",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "transaction_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TransactionDt",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "transaction_date",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_MSQL_Tickets",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ASQL_Cinema_Tickets",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "usp_write_watermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spPopulateCinemaTickets",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_write_watermark]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@activity('LookupNewWatermarkActivity').output.firstRow.NewWatermarkValue",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": {
								"value": "@activity('LookupOldWatermarkActivity').output.firstRow.TableName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_MSSQL_SRC_CinemaTickets",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spPopulateCinema",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "IncrementalCopyActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulateCinema]"
				},
				"linkedServiceName": {
					"referenceName": "LS_ASQL_SINK_staging_data",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spPopulateCinemaTickets",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spPopulateCinema",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulateCinemaTickets]"
				},
				"linkedServiceName": {
					"referenceName": "LS_ASQL_SINK_staging_data",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "Module_06"
		},
		"annotations": [],
		"lastPublishTime": "2023-03-01T08:47:36Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}