pipeline/PL_DATA_INC_ABLB_online_TO_ADLS_raw_online.json
{
	"name": "PL_DATA_INC_ABLB_online_TO_ADLS_raw_online",
	"properties": {
		"activities": [
			{
				"name": "CopyFileIncrementally",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "WatermarkOldLookUp",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "WaterMarkNewLookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"modifiedDatetimeStart": {
								"value": "@activity('WatermarkOldLookUp').output.firstRow.WatermarkValue",
								"type": "Expression"
							},
							"modifiedDatetimeEnd": {
								"value": "@formatDateTime(substring(string(activity('WaterMarkNewLookup').output.value),6,19),'yyyy-MM-ddTHH:mm:ss')",
								"type": "Expression"
							},
							"deleteFilesAfterCompletion": false
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_ABLB_online_json",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLS_raw_online_json",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "WatermarkOldLookUp",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select * from dbo.watermarktable where tablename = '@{pipeline().Pipeline}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_MSQL_watermarktable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "WaterMarkNewLookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select '@{pipeline().TriggerTime}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_MSQL_watermarktable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "uspWriteWatermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CopyFileIncrementally",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_write_watermark]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@formatDateTime(substring(string(activity('WaterMarkNewLookup').output.value),6,19),'yyyy-MM-ddTHH:mm:ss')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_MSSQL_SRC_CinemaTickets",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"maxTime": {
				"type": "String",
				"defaultValue": "2023-03-01T00:00:00Z"
			},
			"FileName": {
				"type": "String"
			},
			"FinalTime": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Module_07"
		},
		"annotations": [],
		"lastPublishTime": "2023-03-04T11:03:30Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}