pipeline/PL_SampleAudit.json
{
	"name": "PL_SampleAudit",
	"properties": {
		"activities": [
			{
				"name": "Copy data",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "truncate table stg.sampleAudit",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "id",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "dept",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "dept",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_SampleAudit",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ASQL_SampleAudit",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Stored procedure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_ErrorLoggingInfo]",
					"storedProcedureParameters": {
						"ActivityName": {
							"value": {
								"value": "@activity('Copy data').output.billingReference.activityType",
								"type": "Expression"
							},
							"type": "String"
						},
						"DateTime": {
							"value": {
								"value": "@addseconds(activity('Copy data').output.executionDetails[0].start, activity('Copy data').output.executionDetails[0].duration)",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorCode": {
							"value": {
								"value": "@activity('Copy data').output.errors[0].Code",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMsg": {
							"value": {
								"value": "@activity('Copy data').output.errors[0].Message",
								"type": "Expression"
							},
							"type": "String"
						},
						"FailureType": {
							"value": {
								"value": "@activity('Copy data').output.errors[0].ExceptionType",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ASQL_SINK_staging_data",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "Module_09"
		},
		"annotations": [],
		"lastPublishTime": "2023-04-18T08:59:07Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}