pipeline/PL_Web_Services.json
{
	"name": "PL_Web_Services",
	"properties": {
		"activities": [
			{
				"name": "Send_Failure_Mail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "RetrieveURLfromAKV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@activity('RetrieveURLfromAKV').output.value",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\n   \"dataFactoryName\" : \"@{pipeline().parameters.DataFactory}\",\n    \"pipelineName\" : \"@{pipeline().parameters.PipelineName}\", \n    \"pipelineRun\" : \"@{pipeline().parameters.PipelineRun}\",\n    \"status\" : \"@{pipeline().parameters.Status}\",\n    \"ErrorMessage\" : \"@{pipeline().parameters.ErrorMessage}\",\n    \"receiver\" : \"@{pipeline().parameters.receiver}\",\n    \"Timestamp\" : \"@{pipeline().parameters.Timestamp}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "RetrieveURLfromAKV",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@pipeline().globalParameters.WebURL",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"parameters": {
			"receiver": {
				"type": "string",
				"defaultValue": "deepak_saraswat@epam.com"
			},
			"DataFactory": {
				"type": "string"
			},
			"PipelineName": {
				"type": "string"
			},
			"PipelineRun": {
				"type": "string"
			},
			"Status": {
				"type": "string"
			},
			"ErrorMessage": {
				"type": "string"
			},
			"Timestamp": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Module_09"
		},
		"annotations": [],
		"lastPublishTime": "2023-04-27T12:47:24Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}